<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <mat-toolbar>
    <span>My Application de Chat</span>
  </mat-toolbar>
  
<app-principal *ngIf="mostrarChat"
               (miMensaje)="enviar($event)"
               ></app-principal>

<app-entrar *ngIf="!mostrarChat"
            (iniciar)="iniciar($event)"
            ></app-entrar>

<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

