<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<mat-toolbar>
  <span>Mi aplicación de Chat</span>
  <span class="example-spacer"></span>
  <a class="link-toolbar" href="https://github.com/diegoatnqn/based-chat-angular-socket" target="_blank"><mat-icon>grade</mat-icon></a>
</mat-toolbar>
  
<app-principal *ngIf="mostrarChat"
               (miMensaje)="enviar($event)"
               ></app-principal>

<app-entrar *ngIf="!mostrarChat"
            (iniciar)="iniciar($event)"
            ></app-entrar>

<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

